<section class="hero">
    
    <h2>Hello Staff!!!!</h2>
    <div class="button-container">
      <button class="hero-btn" [routerLink]="'/app-addappointment'">Add Appointment</button>
      <button class="hero-btn" [routerLink]="'/app-add-slots'">Add Slots</button>
      <button class="hero-btn" [routerLink]="'/app-add-doctor'">Add Doctor</button>
      <button class="hero-btn" [routerLink]="'/app-today-appointments'">Todays Appointments</button>
      <button class="hero-btn" [routerLink]="'/app-doctor-details'">Doctor details</button>
    </div>
  </section>